<html>
<meta charset='utf-8'>
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-grid.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-reboot.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/Immo_css.css') }}" rel="stylesheet" />
{% endblock %}
    <head>
        <p>
            <title>{% block title %}IMMOSTAR, votre star{% endblock %}IMMOSTAR, votre star</title>
        </p>
          {% block menu %}
            <nav>
                <ul>
                    <li><a href="/bien/creerBien">Créer un bien</a>
                    <li><a href="/bien/afficherBien">Recenser</a>
                    <li><a href="/bien/creerBien">A Rénover</a>
                <ul>
            </nav>
    {% endblock %}
        
    <head>
        <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
    Site céer par moi-même
    </footer>
</html>

